{% extends '../base.html' %}

{%- block head -%}
	<title>Password - Preferences - {{ school }}</title>
{%- endblock -%}

{%- block body -%}
	<div class="container-fluid">
		{% include '../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<h3>Preferences - Password</h3>
			</div>
		</div>
		{% if success %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if success == 'yes' or success == 'true' %}
				<div class="alert alert-success" role="alert">
					Password <strong>changed</strong> successfully.
				</div>
				{% elif success == 'no' or success == 'false' %}
				<div class="alert alert-danger" role="alert">
					Password <strong>not</strong> changed successfully.
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<form class="form-horizontal" action="/preferences/password/change?hmo=put" method="post">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="oldp">Old Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="oldp" name="oldpass" placeholder="Old Password">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="newp">New Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="newp" name="newpass" placeholder="New Password">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="newp2">Repeat New Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="newp2" name="newpass2" placeholder="New Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Change Password</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{%- endblock -%}
