{% extends '../base.html' %}

{% block head %}
	<title>Conference - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ol class="breadcrumb">
					<li><a href="/">Dash</a></li>
					<li><a href="/{{ course.id }}">{{ course.title }}</a></li>
					<li><a href="/{{ course.id }}/conference">Conference</a></li>
					<li>Delete Thread/Post</li>
				</ol>
			</div>
		</div>
		{% if success %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if success == 'yes' or success == 'true' %}
				<div class="alert alert-success" role="alert">
					Conference <strong>{{ action }}</strong> successfully.
				</div>
				{% elif success == 'no' or success == 'false' %}
				<div class="alert alert-danger" role="alert">
					Conference <strong>not</strong> {{ action }} successfully. Missing required field.
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="pull-left">
					<h3>{{ course.title }} - Conference</h3>
				</div>
				<div class="pull-right" style="padding-top: 8px;">
					<a href="/{{ course.id }}/conference?action=newthread" class="btn btn-default" alt="New Post"><span class="glyphicon glyphicon-pencil"></span> New Thread</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
