{% extends 'base.html' %}

{% block head %}
<title>{% if school %}{{ school }} - {% endif %}Login</title>
{% endblock %}

{% block body %}
<form method="POST" action="/login">
	<div class="form-group">
		<h2>{% if school %}{{ school }} - {% endif %}Login</h2>
	</div>
	{#{% if error %}#}<p class="bg-danger">
		{{error}}
	</p>{#{% endif %}#}
	<div class="form-group">
		<label for="formUsername">Username</label>
		<input type="text" class="form-control" id="formUsername" name="username" />
	</div>
	<div class="form-group">
		<label for="formPassword">Password</label>
		<input type="password" class="form-control" id="formPassword" name="password" />
	</div>
	<div class="form-group">
		<label>User Type</label>
		<select class="form-control" name="type">
			<option value="Student">Student</option>
			<option value="Faculty">Faculty</option>
			<option value="Admin">Admin</option>
		</select>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
