{% extends '../../base.html' %}

{% block head %}
	<title>Conference - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ol class="breadcrumb">
					<li><a href="/">Dash</a></li>
					<li><a href="/c/{{ course.id }}">{{ course.title }}</a></li>
					{% if posts %}
					<li><a href="/c/{{ course.id }}/conference">Conference</a></li>
					<li class="active">Thread</li>
					{% else %}
					<li class="active">Conference</a></li>
					{% endif %}
				</ol>
			</div>
		</div>
		{% if success %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if success == 'yes' or success == 'true' %}
				<div class="alert alert-success" role="alert">
					{{ noun }} <strong>{{ verb }}</strong> successfully.
				</div>
				{% elif success == 'no' or success == 'false' %}
				<div class="alert alert-danger" role="alert">
					{{ noun }} <strong>not</strong> {{ verb }} successfully.
				</div>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 clearfix">
				<div class="pull-left">
					<h3>{{ course.title }} - Conference</h3>
				</div>
				<div class="pull-right">
					<form action="?hmo=delete&action=deletepost" method="POST">
						<input type="hidden" name="thread" value="{{ thread._id|toString }}" />
						<input type="hidden" name="post" value="{{ post._id|toString }}" />
						<div class="form-group btn-group">
							<button type="submit" class="btn btn-danger">Yes, Delete this post.</button>
							<a href="/c/{{ course.id }}/conference/{{ thread._id|toString }}" class="btn btn-default">No, leave this post alone!</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 clearfix">
				<hr />
				<h4>{{ thread.title }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 clearfix">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h2 class="panel-title pull-left">{{ post.author.firstName }} {{ post.author.lastName }}</h2>
						<span class="pull-right">
							<span title="{{ thread.timestamp|timezone }}">{{ thread.timestamp|fromNow }}</span>
						</span>
					</div>
					<div class="panel-body">{{ post.text|markdown|safe }}</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
