{% extends '../../base.html' %}

{% block head %}
	<title>Assignments - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ol class="breadcrumb">
					<li><a href="/">Dash</a></li>
					<li><a href="/c/{{ course._id|toString }}">{{ course.title }}</a></li>
					<li><a href="/c/{{ course._id|toString }}/assignments">Assignments</a></li>
					<li><a href="/c/{{ course._id|toString }}/assignment/{{ assignment._id|toString }}">{{ assignment.title }}</a></li>
					<li class="active" title="{{ attempt.author.username }}">{{ attempt.author.firstName }} {{ attempt.author.lastName }} Attempt</li>
				</ol>
			</div>
		</div>
		{% if success %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if success == 'yes' %}
				<div class="form-group">
					<div class="alert alert-success" role="alert">
						Attempt <strong>{{ action }}</strong> successfully.
					</div>
				</div>
				{% elif success == 'no' %}
				<div class="form-group">
					<div class="alert alert-danger" role="alert">
						Attempt <strong>not</strong> {{ action }} successfully. Missing/Bad <strong>required</strong> field.
					</div>
				</div>
				{% elif success == 'error' %}
				<div class="form-group">
					<div class="alert alert-warning" role="alert">
						{{ error }}
					</div>
				</div>
				{% endif %}{# success:yes?no #}
			</div>
		</div>
		{% endif %}{# success #}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="pull-left">
					<h3>{{ course.title }} - Assignments</h3>
				</div>
				{% if 2 <= auth %}
				<div class="pull-right panel-title-button">
					<a href="/c/{{ course._id|toString }}/assignments/new" class="btn btn-default" alt="New Post"><span class="glyphicon glyphicon-pencil"></span> New Assignment</a>
				</div>
				{% endif %}{# auth #}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if 2 <= auth %}
				<form class="panel panel-default" action="/c/{{ course._id|toString }}/attempt/{{ attempt._id|toString }}/grade" method="POST">
					<input type="hidden" name="_csrf" value="{{csrf}}" />
					<input type="hidden" name="aid" value="{{ attempt._id|toString }}" />
				{% else %}
				<div class="panel panel-default">
				{% endif %}
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left">{{ assignment.title }}</h3>
						<div class="pull-right">{% if attempt.late %}<span class="label label-danger">Late</span>{% endif %} <span class="label label-success" title="{{ attempt.points }}/{{ assignment.totalPoints }}">{% if attempt.points %}{{ ( attempt.points / assignment.totalPoints ) * 100 }}%{% else %}ungraded{% endif %}</span></div>
					</div>
					<div class="panel-body">{{ attempt.text|markdown|safe }}
					{% if 2 <= auth %}<br />
						<div class="form-group">
							<label for="formBody">Points
								<input type="text" class="form-control" id="formBody" name="points" rows="7" autofocus>
							</label>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Grade</button>
						</div>
					{% endif %}
					</div>
					<div class="panel-footer"><span title="{{ attempt.author.username }}">{{ attempt.author.firstName }} {{ attempt.author.lastName }}</span>
					<span class="pull-right" title="{{ attempt.timestamp|timezone }}">{{ attempt.timestamp|fromNow }}</span></div>
				{% if 2 <= auth %}
				</form>
				{% else %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
