{% extends '../../base.html' %}

{% block head %}
	<title>Assignments - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ol class="breadcrumb">
					<li><a href="/">Dash</a></li>
					<li><a href="/c/{{ course._id|toString }}">{{ course.title }}</a></li>
					<li class="active">Assignments</li>
				</ol>
			</div>
		</div>
		{% if success %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if success == 'yes' %}
				<div class="form-group">
					<div class="alert alert-success" role="alert">
						Assignment <strong>{{ action }}</strong> successfully.
					</div>
				</div>
				{% elif success == 'no' %}
				<div class="form-group">
					<div class="alert alert-danger" role="alert">
						Assignment <strong>not</strong> {{ action }} successfully. Missing <strong>required</strong> field.
					</div>
				</div>
				{% elif success == 'error' %}
				<div class="form-group">
					<div class="alert alert-warning" role="alert">
						{{ error }}
					</div>
				</div>
				{% endif %}{# success:yes?no #}
			</div>
		</div>
		{% endif %}{# success? #}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="pull-left">
					<h3>{{ course.title }} - Assignments</h3>
				</div>
				{% if 2 <= auth %}
				<div class="pull-right panel-title-button">
					<a href="?action=new" class="btn btn-default" alt="New Post"><span class="glyphicon glyphicon-pencil"></span> New Assignment</a>
				</div>
				{% endif %}{# auth #}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ul class="list-group">
				{% for assignment in assignments %}
					<a class="list-group-item" href="/c/{{ course._id|toString }}/assignments/{{ assignment._id|toString }}">{{ assignment.title|url_decode }}<span class="pull-right">{{ assignment.author.firstName }} {{ assignment.author.lastName }}</span></a>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
