{% extends '../../base.html' %}

{% block head %}
	<title>Assignments - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ol class="breadcrumb">
					<li><a href="/">Dash</a></li>
					<li><a href="/c/{{ course._id|toString }}">{{ course.title }}</a></li>
					<li><a href="/c/{{ course._id|toString }}/assignments">Assignments</a></li>
					<li class="active">Deleting Assignment</li>
				</ol>
			</div>
		</div>
		{% if success %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if success == 'yes' %}
				<div class="form-group">
					<div class="alert alert-success" role="alert">
						Assignment <strong>{{ action }}</strong> successfully.
					</div>
				</div>
				{% elif success == 'no' %}
				<div class="form-group">
					<div class="alert alert-danger" role="alert">
						Assignment <strong>not</strong> {{ action }} successfully. Missing <strong>required</strong> field.
					</div>
				</div>
				{% elif success == 'error' %}
				<div class="form-group">
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				</div>
				{% endif %}{# success:yes?no #}
			</div>
		</div>
		{% endif %}{# success? #}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 clearfix" method="POST" action="?action=deleteall&hmo=DELETE">
				<div class="pull-left">
					<h3>{{ course.title }} - Assignments</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<form class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1" method="POST" action="?action=delete&hmo=DELETE">
				<input type="hidden" name="_csrf" value="{{csrf}}" />
				<div class="panel panel-default">
					<input type="hidden" name="aid" value="{{ assignment._id|toString }}" />
					<div class="panel-heading clearfix">
						<h2 class="panel-title pull-left panel-title-button">{{ assignment.title }}</h2>
						<div class="pull-right">
							<div class="btn-group">
								<button type="submit" class="btn btn-danger">Delete</button>
								<a href="/c/{{ course._id|toString }}/assignments/{{ assignment._id|toString }}" class="btn btn-default">No!</a>
							</div>
						</div>
					</div>
					<div class="panel-body">{{ assignment.text|markdown|safe }}</div>
					<div class="panel-footer"><span title="{{ assignment.author.username }}">{{ assignment.author.firstName }} {{ assignment.author.lastName}}</span><span class="pull-right" title="{{ assignment.timestamp|timezone }}">{{ assignment.timestamp|fromNow }}</span></div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
