{% extends 'base.html' %}

{% block head %}
	<title>Assignments - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include 'navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="pull-left">
					<h3>{{ course.title }} - Assignments</h3>
				</div>
				{% if 2 <= auth %}
				<div class="pull-right" style="padding-top: 8px;">
					<a href="/{{ course.id }}/assignments/new" class="btn btn-default" alt="New Post"><span class="glyphicon glyphicon-pencil"></span></a>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ul class="list-group">
				{% for thread in threads %}
					<a class="list-group-item" href="/{{ thread._id }}">{{ thread.title }}</a>
				{% endfor %}
				</ul>
				{% for post in posts %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ post.title }}</h3>
					</div>
					<div class="panel-body">{{ entry.text|markdown|safe }}</div>
					<div class="panel-footer">
						<span class="pull-left" alt="{{ entry.authorUsername }}">{{ entry.authorName }}</span>
						<span class="pull-right">{{ entry.timestamp|date('F jS h:m a') }}</span>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
