{% extends 'base.html' %}

{% block head %}
	<title>{{ school }} - Login</title>
{% endblock %}

{% block body %}
	<div class="container">
		<form class="form-horizonal" method="POST" action="/login">
			<div class="col-xs-12 form-group">
				<h2>{% if school %}{{ school }} - {% endif %}Login</h2>
			</div>
			{% if error %}<div class="col-xs-12 alert alert-danger" role="alert">
				{{error}}
			</div>{% endif %}
			<label class="col-xs-2" for="formUsername">Username</label>
			<div class="col-xs-9 col-xs-offset-1 form-group">
				<input type="text" class="form-control" id="formUsername" name="username" />
			</div>
			<label class="col-xs-2" for="formPassword">Password</label>
			<div class="col-xs-9 col-xs-offset-1 form-group">
				<input type="password" class="form-control" id="formPassword" name="password" />
			</div>
			<label class="col-xs-2" for="formType">User Type</label>
			<div class="col-xs-9 col-xs-offset-1 form-group">
				<select class="form-control" id="formType" name="type">
					<option value="Student">Student</option>
					<option value="Faculty">Faculty</option>
					<option value="Admin">Admin</option>
				</select>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
