{% block narbar %}
	<div class="row">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">{{ school }}</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/"><span class="glyphicon glyphicon-home"></span></a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span><!-- <span class="caret"></span> --></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/preferences"><span class="glyphicon glyphicon-wrench"></span> Preferences</a></li>
								<li class="divider"></li>
								<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
			<ol class="breadcrumb">
				{% if on == 'dash' %}<li class="active">Home</li>{% else %}<li><a href="/">Home</a></li>{% endif %}
				{% if course and on !== 'course' %}<li><a href="/{{ course.id }}">{{ course.title }}</a></li>{% endif %}
				{% if blog and on !== 'blog' %}<li><a href="/{{ course.id }}/blog">Blog</a></li>{% endif %}
				{% if on == 'course' %}<li class="active">{{ course.title }}</li>
				{% elif on == 'blog' %}<li class="active">Blog</li>
				{% elif on == 'preferences' %}<li class="active">Preferences</li>
				{% elif on == 'settings' %}<li class="active">Settings</li>
				{% elif on == 'newblog' %}<li class="active">New Post</li>{% endif %}
			</ol>
		</div>
	</div>
{% endblock %}
