{% extends 'base.html' %}

{% block head %}
	<title>No Cookies - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
			<h2>No Cookies</h2>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
			Hi, you have landed here because you probably don't have cookies enabled.<br />
			That's awesome but to be able to tell you are allowed where you are asking to be we need you to hold our cookie.<br />
			We know you would probably like a chocolate chip cookie now sorry...<br />
			<b>Please enable cookies in your browser to continue.</b><br />
			THANKS!
		</div>
	</div>
{% endblock %}
