{% extends 'base.html' %}

{%- block head -%}
	<title>Preferences - {{ school }}</title>
{%- endblock -%}

{%- block body -%}
	<div class="container-fluid">
		{% include 'navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<h3>Conference Room</h3>
				<ul class="list-group">
				{% for course in courses %}
					<a class="list-group-item" href="/{{ course.uid }}">{{ course.title }}</a>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{%- endblock -%}
