{% extends '../base.html' %}

{% block head %}
	<title>Assignments - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../navbar.html' %}
		{% if success == 'yes' || success == 'no' || success == 'error' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if success == 'yes' %}
				<div class="form-group">
					<div class="alert alert-success" role="alert">
						Assignment <strong>{{ action }}</strong> successfully.
					</div>
				</div>
				{% elif success == 'no' %}
				<div class="form-group">
					<div class="alert alert-danger" role="alert">
						Assignment <strong>not</strong> {{ action }} successfully. Missing <strong>required</strong> field.
					</div>
				</div>
				{% elif success == 'error' %}
				<div class="form-group">
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				</div>
				{% endif %}{# success:yes?no #}
			</div>
		</div>
		{% endif %}{# success? #}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="pull-left">
					<h3>{{ course.title }} - Assignments</h3>
				</div>
				{% if 2 <= auth %}
				<div class="pull-right" style="padding-top: 8px;">
					<a href="/{{ course.id }}/assignments?action=new" class="btn btn-default" alt="New Post"><span class="glyphicon glyphicon-pencil"></span> New Assignment</a>
				</div>
				{% endif %}{# auth #}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if 2 <= auth %}
				<form class="panel panel-default" action="/{{ course.id }}/assignments/{{ attempts.assignment.title }}/{{ attempts._id|toString }}?action=grade" method="POST" enctype="multipart/form-data">
				{% else %}
				<div class="panel panel-default">
				{% endif %}
					<input type="hidden" name="aid" value="{{ attempts._id|toString }}" />
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left">{{ attempts.assignment.title|url_decode }}</h3>
						<div class="pull-right">{% if attempts.late == true %}<span class="label label-danger">Late</span>{% endif %} <span class="label label-default">{% if attempts.points %}{{ attempts.points / attempts.assignment.totalPoints }}%{% else %}ungraded{% endif %}</span></div>
					</div>
					<div class="panel-body">{{ attempts.text|markdown|safe }}
					{% if 2 <= auth %}<br />
						<div class="form-group">
							<label for="formBody">Points
								<input type="text" class="form-control" id="formBody" name="points" rows="7" autofocus>
							</label>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Grade</button>
						</div>
					{% endif %}
					</div>
					<div class="panel-footer"><span title="{{ attempts.author.username }}">{{ attempts.author.firstName }} {{ attempts.author.lastName }}</span>
					<span class="pull-right" title="{{ attempts.timestamp|timezone }}">{{ attempts.timestamp|fromNow }}</span></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
