{% extends '../base.html' %}

{% block head %}
	<title>Assignments - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<ol class="breadcrumb">
					<li><a href="/">Dash</a></li>
					<li><a href="/{{ course.id }}">{{ course.title }}</a></li>
					<li><a href="/{{ course.id }}/assignments">Assignments</a></li>
					{% for assignment in assignments %}{% if loop.first %}<li class="active">{{ assignment.title|url_decode }}</li>{% endif %}{% endfor %}
				</ol>
			</div>
		</div>
		{% if success %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				{% if success == 'yes' %}
				<div class="form-group">
					<div class="alert alert-success" role="alert">
						Assignment <strong>{{ action }}</strong> successfully.
					</div>
				</div>
				{% elif success == 'no' %}
				<div class="form-group">
					<div class="alert alert-danger" role="alert">
						Assignment <strong>not</strong> {{ action }} successfully. Missing <strong>required</strong> field.
					</div>
				</div>
				{% elif success == 'error' %}
				<div class="form-group">
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				</div>
				{% endif %}{# success:yes?no #}
			</div>
		</div>
		{% endif %}{# success? #}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="pull-left">
					<h3>{{ course.title }} - Assignments</h3>
				</div>
				{% if 2 <= auth %}
				<div class="pull-right" style="padding-top: 8px;">
					<a href="/{{ course.id }}/assignments?action=new" class="btn btn-default" alt="New Post"><span class="glyphicon glyphicon-pencil"></span> New Assignment</a>
				</div>
				{% endif %}{# auth #}
			</div>
		</div>
		{% for assignment in assignments %}{# incase multiple assignments are named the same thing #}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<form class="panel panel-default" action="/{{ course.id }}/assignments/{{ assignment.title }}?action=attempt" method="POST" enctype="multipart/form-data">
					{# embed assignment_id in form (incase there are multiple assignments don't modify/attempt the wrong one.) #}
					<input type="hidden" name="aid" value="{{ assignment._id|toString }}" />
					<div class="panel-heading clearfix">
						<h3 class="panel-title pull-left"{% if 2 <= auth %} style="padding-top: 10px;"{% endif %}>{{ assignment.title|url_decode }}</h3>
						<div class="pull-right">
							<span></span>
						{% if 2 <= auth %}
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="button" id="blogPostMenu" data-toggle="dropdown" aria-expanded="true">
									<span class="glyphicon glyphicon-cog"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="blogPostMenu">
									<li role="presentation">
										<a role="menuitem" href="/{{ course.id }}/assignments/{{ assignment.title }}?action=edit"><span class="glyphicon glyphicon-edit"></span> Edit</a>
									</li>
									<li role="presentation">
										<a role="menuitem" href="/{{ course.id }}/assignments/{{ assignment.title }}?action=delete"><span class="glyphicon glyphicon-remove"></span> Delete</a>
									</li>
								</ul>
							</div>
						{% endif %}
						</div>
					</div>
					<div class="panel-body">{{ assignment.text|markdown|safe }}<br />
						<div class="form-group">
							<label for="formBody">Assignment Body <small>(<a href="https://markdown-it.github.io/" target="_new">markdown</a>)</small></label>
							<textarea class="form-control" id="formBody" name="text" rows="7" {% if loop.first %}autofocus{% endif %}>{{ body.text }}</textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Submit Assignment</button>
						</div>
					</div>
					<div class="panel-footer"><span title="{{ assignment.author.username }}">{{ assignment.author.firstName }} {{ assignment.author.lastName }}</span>
					<span class="pull-right" title="{{ assignment.timestamp|timezone }}">{{ assignment.timestamp|fromNow }}</span></div>
				</form>
			</div>
		</div>
			{% if attempts.length > 0 %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="pull-left">
					<h3>Attempts</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ul class="list-group">
				{% for attempt in attempts %}
				{% if attempt.assignment._id|toString == assignment._id|toString %}
					<a class="list-group-item" href="/{{ course.id }}/assignments/{{ attempt.assignment.title }}/{{ attempt._id|toString }}">{{ attempt.author.firstName }} {{ attempt.author.lastName }} {% if attempt.late == true %}<span class="label label-danger">Late</span>{% endif %} <span class="pull-right label label-{% if attempt.points %}success" title="{{ attempt.points }}/{{ attempt.assignment.totalPoints }}">{{ attempt.points / attempt.assignment.totalPoints }}%{% else %}default">ungraded{% endif %}</span></a>
				{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
