{% extends '../base.html' %}

{% block head %}
	<title>{{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ol class="breadcrumb">
					<li><a href="/">Dash</a></li>
					<li class="active">{{ course.title }}</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<h3>{{ course.title }}</h3>
				<ul class="list-group">
					<a class="list-group-item" href="/c/{{ course._id|toString }}/blog">Blog</a>
					<a class="list-group-item" href="/c/{{ course._id|toString }}/conference">Conference</a>
					<a class="list-group-item" href="/c/{{ course._id|toString }}/assignments">Assignments</a>
					<a class="list-group-item" href="/c/{{ course._id|toString }}/grades">Grades</a>
					<a class="list-group-item" href="/c/{{ course._id|toString }}/roster">Roster</a>
					{% if auth > 1 %}<a class="list-group-item" href="/c/{{ course._id|toString }}/settings">Settings</a>{% endif %}
				</ul>
			</div>
		</div>
		{% if auth >= 3 %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ul class="list-group">
					<a class="list-group-item" href="/admin/{{ course._id|toString }}?action=addstudent">Add Student to Course</a>
					<a class="list-group-item" href="/admin/{{ course._id|toString }}?action=addfaculty">Add Faculty to Course</a>
					<a class="list-group-item" href="/admin/{{ course._id|toString }}?action=rmstudent">Remove Student to Course</a>
					<a class="list-group-item" href="/admin/{{ course._id|toString }}?action=rmfaculty">Remove Faculty to Course</a>
				</ul>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}
