{% extends '../base.html' %}

{% block head %}
	<title>Roster - {{ course.title }} - {{ school }}</title>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		{% include '../navbar.html' %}
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<ol class="breadcrumb">
					<li><a href="/">Dash</a></li>
					<li><a href="/c/{{ course.id }}">{{ course.title }}</a></li>
					<li class="active">Roster</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="pull-left">
					<h3>{{ course.title }} - Roster</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<h4>Faculty</h4>
				<ul class="list-group">
					{% for faculty in course.faculty %}
					<a class="list-group-item">{{ faculty.firstName }} {{ faculty.lastName }} | {{ faculty.email }}</a>
					{% endfor %}
				</ul>
				<hr />
				<h4>Students</h4>
				<ul class="list-group">
					{% for student in course.students %}
					<a class="list-group-item">{{ student.firstName }} {{ student.lastName }} | {{ faculty.email }}</a>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
